/* @import "tailwindcss"; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.js-link {
  color: #176093;
  border-bottom: 1px dotted rgba(23, 96, 147, 0.3);
  cursor: pointer;
  user-select: none;
}

.js-link-danger {
  color: #FF4136;
  border-bottom: 1px dotted rgba(23, 96, 147, 0.3);
  cursor: pointer;
  user-select: none;
}
